.aw-req-allowance {
    display: inline-flex;
    display: inline flex;
    flex-direction: column;
    vertical-align: text-bottom;
    vertical-align: middle;
    padding: 0 4px;
}

.allowance-number {
    line-height: normal;
}
