.icon-picker-button > svg.ck.ck-icon.ck-button__icon {
  width: 45px;
}

.ck.ck-reset_all svg.ck-button__icon text > tspan {
  font-size: inherit;
}

.ck.ck-editor__editable .image, .ck.ck-editor__editable .image-inline {
  width: 80px;
}

.toolbar-insert-symbol .ck.ck-reset.ck-dropdown__panel {
  max-width: 114px;
}
svg.ck-button__icon text > tspan {
  font-size: inherit;
}

.ck-svg-widget {
  display: inline-block;
  font-size: 0px;
}

*h2,
p {
  margin: 0;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#modalContainer {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#wrapForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headFormSvg {
  display: flex;
  align-items: center;
}

#headFormSvg h2 {
  padding-right: 16px;
}

#headFormSvg svg {
  width: 75px;
}

.form-edit-svg {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 240px;
}

.form-edit-svg label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-edit-svg input {
  margin-top: 6px;
  padding: 5px;
}

/* New roughness Modal  */

.modal-roughness-wrap-content,
.modal-complexSvgModal-wrap-content {
  color: rgb(30, 30, 30);
}

#roughnessContent {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex: 1;
}

.roughness-symbol,
.processing-method,
.roughness-parameters {
  padding-bottom: 16px;
}

.roughness-parameters {
  flex: 1;
}

#roughnessContent p,
#roughnessContent label {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}

.roughness-symbol > span {
  display: inline-block;
  margin-left: 10px;
  padding: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.roughness-symbol > span.selected,
.roughness-symbol > span:hover {
  border-color: initial;
}

.processing-method {
  display: flex;
  flex-direction: column;
}
.processing-method label {
  font-weight: bold;
  padding-bottom: 6px;
}

.parametr__input {
  margin-bottom: 8px;
  margin-right: 8px;
}

.dropdown-designation {
  position: relative;
  border: 1px solid;
  max-width: 40px;
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-designation-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  right: 0;
  top: 100%;
}

.dropdown-designation-content div {
  padding: 4px;
  cursor: pointer;
}

.dropdown-designation-content div:hover {
  background-color: #cecece;
}

.dropdown-designation-icon {
  border-left: 1px solid;
}

.dropdown-designation:hover .dropdown-designation-content {
  display: block;
}

.roughness-content-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 82px;
}
.roughness-content-1 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.roughness-content-1 > .content-1-wrap-manual-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.roughness-content-2 {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.content-1-wrap-preview > span {
  width: 170px;
}

.content-1-wrap-preview > span > svg {
  width: 100%;
  height: 100%;
}

#saveBtn {
  margin: auto;
  margin-top: 40px;
}

/* base modal */
.modal-complexSvgModal-wrap-content > h2 {
  padding: 0 20px;
}
.complexSvgModal-content-1 {
  display: flex;
  justify-content: center;
  padding: 16px;
  padding-top: 36px;
}
.complexSvgModal-content-1 .wrap-svg-temp {
  width: 80px;
}
.complexSvgModal-content-1 .wrap-svg-temp svg {
  width: 100%;
  height: 100%;
}

.complexSvgModal-content-2 {
  display: flex;
  flex-direction: column;
}


.toolbar {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.toolbar-item {
  cursor: pointer;
  padding: 2px;
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}
.toolbar-item  svg{
  width: 100%;
  height: 100%;
}

.toolbar-item:hover {
  background-color: #ddd;
}
