.icon-picker-button > svg.ck.ck-icon.ck-button__icon {
  width: 45px;
}

.ck.ck-reset_all svg.ck-button__icon text > tspan {
  font-size: inherit;
}

.ck.ck-editor__editable .image,
.ck.ck-editor__editable .image-inline {
  width: 60px;
}

.toolbar-insert-symbol .ck.ck-reset.ck-dropdown__panel {
  max-width: 114px;
}
svg.ck-button__icon text > tspan {
  font-size: inherit;
}

.ck-svg-widget {
  display: inline-block;
  font-size: 0px;
}

*h2,
p {
  margin: 0;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

#modalContainer {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeModal:hover,
#closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#wrapForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#headFormSvg {
  display: flex;
  align-items: center;
}

#headFormSvg h2 {
  padding-right: 16px;
}

#headFormSvg svg {
  width: 75px;
}

.form-edit-svg {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  min-width: 240px;
}

.form-edit-svg label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-edit-svg input {
  margin-top: 6px;
  padding: 5px;
}

/* New roughness Modal  */

.modal-roughness-wrap-content,
.modal-complexSvgModal-wrap-content {
  color: rgb(30, 30, 30);
}

#roughnessContent {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  flex: 1;
}

.roughness-symbol,
.processing-method,
.roughness-parameters {
  padding-bottom: 16px;
}

.roughness-parameters {
  flex: 1;
}

#roughnessContent p,
#roughnessContent label {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
}

.roughness-symbol > span {
  display: inline-block;
  margin-left: 10px;
  padding: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}

.roughness-symbol > span.selected,
.roughness-symbol > span:hover {
  border-color: initial;
}

.processing-method {
  display: flex;
  flex-direction: column;
}
.processing-method label {
  font-weight: bold;
  padding-bottom: 6px;
}

.parametr__input {
  margin-bottom: 8px;
  margin-right: 8px;
}

.dropdown-designation {
  position: relative;
  border: 1px solid;
  max-width: 40px;
  display: flex;
  margin-right: auto;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-designation-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 0;
  right: 0;
  top: 100%;
}

.dropdown-designation-content div {
  padding: 4px;
  cursor: pointer;
}

.dropdown-designation-content div:hover {
  background-color: #cecece;
}

.dropdown-designation-icon {
  border-left: 1px solid;
}

.dropdown-designation:hover .dropdown-designation-content {
  display: block;
}

.roughness-content-1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 82px;
}
.roughness-content-1 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.roughness-content-1 > .content-1-wrap-manual-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.roughness-content-2 {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
}

.content-1-wrap-preview > span {
  width: 170px;
}

.content-1-wrap-preview > span > svg {
  width: 100%;
  height: 100%;
}

#saveBtn {
  margin: auto;
  margin-top: 40px;
}

/* base modal */
.modal-complexSvgModal-wrap-content > h2 {
  padding: 0 20px;
}
.complexSvgModal-content-1 {
  display: flex;
  justify-content: center;
  padding: 16px;
  padding-top: 36px;
}
.complexSvgModal-content-1 .wrap-svg-temp {
  width: 80px;
}
.complexSvgModal-content-1 .wrap-svg-temp svg {
  width: 100%;
  height: 100%;
}

.complexSvgModal-content-2 {
  display: flex;
  flex-direction: column;
}

.toolbar {
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.toolbar-item {
  cursor: pointer;
  padding: 2px;
  width: 24px;
  height: 24px;
  margin-bottom: 16px;
}
.toolbar-item svg {
  width: 100%;
  height: 100%;
}

.toolbar-item:hover {
  background-color: #ddd;
}


.ck-editor__main h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.ck-editor__main tr th {
  text-transform: inherit;
}
.ck-editor__main .requirement {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
  display: block;
}
.ck-editor__main .aw-requirement-header h3 {
  margin-top: auto;
  margin-bottom: auto;
  flex: 1;
}
.ck-editor__main .aw-requirement-marker {
  position: absolute;
  left: -41px;
  width: 30px;
  display: flex;
  flex-direction: column;
}
.ck-editor__main .aw-requirement-marker > * {
  margin: auto;
}
.ck-editor__main .aw-requirement-a4SizePaper {
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 700px;
  margin: auto;
  border: 1px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
}
.ck-editor__main .aw-requirement-marker svg,
.ck-editor__main .aw-requirement-marker img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.ck-editor__main .aw-requirement-properties {
  height: 100%;
  padding: 2px;
  -webkit-appearance: textfield;
  cursor: text;
  min-width: 100px;
  display: inline-block;
}
.ck-editor__main .aw-requirement-content span[contenteditable=true] {
  outline: 2px solid;
}
.ck-editor__main .aw-requirement-bodytext {
  outline: none;
  min-height: 20px;
  cursor: auto !important;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.ck-editor__main .ck-content .aw-requirement-bodytext .table,
.ck-editor__main .ck-content .aw-requirement-bodytext .table table {
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-all;
  width: auto !important;
}
.ck-editor__main .ck-content .aw-requirement-bodytext .table table tr td {
  white-space: normal;
}
.ck-editor__main .ck-content .aw-requirement-bodytext .table table tr td .image > img {
  min-width: 50px;
}
.ck-editor__main .ck-widget__type-around {
  display: none;
}
.ck-editor__main figure .ck-widget__type-around {
  display: block;
}
.ck-editor__main .ck-content .aw-requirement-oleImage.image.image_resized > figcaption {
  display: none;
}
.ck-editor__main .ck-focused .aw-requirement-oleImage.ck-widget_with-resizer.ck-widget_selected > .ck-widget__resizer {
  display: none;
}
.ck-editor__main .ck-content .aw-requirement-oleImage.image {
  margin: unset;
}
.ck-editor__main .ck .aw-requirement-oleImage.ck-widget_selected,
.ck-editor__main .ck .aw-requirement-oleImage.ck-widget_selected:hover,
.ck-editor__main .ck .aw-requirement-oleImage:hover {
  outline: none;
}
.ck-editor__main .aw-requirement-headerNonEditable {
  cursor: pointer;
}
.ck-editor__main a {
  display: inline;
}
.ck-editor__main .aw-requirement-marker .aw-requirement-tracelinkCount {
  margin-right: -39px;
  position: relative;
  top: -13px;
  left: 12px;
  font-size: 12px;
  float: left;
}
.ck-editor__main .aw-requirement-crossRefLink img {
  padding: 2px 4px 2px 0;
  width: 16px;
  height: 16px;
}
.ck-editor__main .aw-requirement-crossRefLink {
  cursor: pointer;
  text-decoration: underline;
}
.ck-editor__main .pen-red {
  font-weight: bold;
}
.ck-editor__main .aw-requirement-tocsettings svg {
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.ck-editor__main .aw-requirement-tocsettings {
  display: flex;
  flex-wrap: wrap;
  max-width: 16px;
  max-height: 16px;
  float: left;
  margin-left: -37px;
  margin-top: 17px;
  cursor: pointer;
}
.ck-editor__main .aw-requirement-tocUnderlineOnHover:hover {
  text-decoration: underline;
  cursor: pointer;
}
.ck-editor__main .aw-requirement-tocFont {
  font-style: italic;
  margin-top: 35px;
}
.ck-editor__main .ck.ck-content .aw-requirement-toconHover ol {
  list-style-type: none;
  margin-block-start: auto;
  font-size: inherit;
  padding-left: 0;
  overflow: unset;
}
.ck-editor__main .ck.ck-content {
  font-size: 13px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}
.ck-editor__main .ck.ck-content div, .ck-editor__main .ck.ck-content span, .ck-editor__main .ck.ck-content h1, .ck-editor__main .ck.ck-content h2, .ck-editor__main .ck.ck-content h3, .ck-editor__main .ck.ck-content h4, .ck-editor__main .ck.ck-content h5, .ck-editor__main .ck.ck-content h6, .ck-editor__main .ck.ck-content p, .ck-editor__main .ck.ck-content blockquote, .ck-editor__main .ck.ck-content pre, .ck-editor__main .ck.ck-content a, .ck-editor__main .ck.ck-content abbr, .ck-editor__main .ck.ck-content acronym, .ck-editor__main .ck.ck-content address, .ck-editor__main .ck.ck-content big, .ck-editor__main .ck.ck-content cite, .ck-editor__main .ck.ck-content code, .ck-editor__main .ck.ck-content del, .ck-editor__main .ck.ck-content dfn, .ck-editor__main .ck.ck-content em, .ck-editor__main .ck.ck-content img, .ck-editor__main .ck.ck-content ins, .ck-editor__main .ck.ck-content small, .ck-editor__main .ck.ck-content strike, .ck-editor__main .ck.ck-content strong, .ck-editor__main .ck.ck-content sub, .ck-editor__main .ck.ck-content sup, .ck-editor__main .ck.ck-content b, .ck-editor__main .ck.ck-content u, .ck-editor__main .ck.ck-content i, .ck-editor__main .ck.ck-content dl, .ck-editor__main .ck.ck-content dt, .ck-editor__main .ck.ck-content dd, .ck-editor__main .ck.ck-content ol, .ck-editor__main .ck.ck-content ul, .ck-editor__main .ck.ck-content li, .ck-editor__main .ck.ck-content fieldset, .ck-editor__main .ck.ck-content form, .ck-editor__main .ck.ck-content label, .ck-editor__main .ck.ck-content legend, .ck-editor__main .ck.ck-content table, .ck-editor__main .ck.ck-content caption, .ck-editor__main .ck.ck-content tfoot, .ck-editor__main .ck.ck-content thead, .ck-editor__main .ck.ck-content tr, .ck-editor__main .ck.ck-content th, .ck-editor__main .ck.ck-content td, .ck-editor__main .ck.ck-content embed, .ck-editor__main .ck.ck-content figure, .ck-editor__main .ck.ck-content figcaption, .ck-editor__main .ck.ck-content footer, .ck-editor__main .ck.ck-content header, .ck-editor__main .ck.ck-content hgroup, .ck-editor__main .ck.ck-content menu, .ck-editor__main .ck.ck-content nav, .ck-editor__main .ck.ck-content output, .ck-editor__main .ck.ck-content section, .ck-editor__main .ck.ck-content summary, .ck-editor__main .ck.ck-content time, .ck-editor__main .ck.ck-content mark, .ck-editor__main .ck.ck-content button {
  font-family: inherit;
}
.ck-editor__main .ck.ck-content p {
  margin: 5px 0 5px 0;
}
.ck-editor__main .aw-requirement-bodytext,
.ck-editor__main .aw-requirement-properties {
  font-size: 14px;
}
.ck-editor__main .aw-requirements-readOnly,
.ck-editor__main .aw-requirements-masterChanged,
.ck-editor__main .aw-requirements-editable,
.ck-editor__main .aw-requirements-frozenToLatest {
  border-left-width: 5px;
  margin-left: -40px;
  height: 100%;
  position: absolute;
}
.ck-editor__main .aw-requirements-readOnly {
  border-style: dotted;
}
.ck-editor__main .aw-requirements-masterChanged,
.ck-editor__main .aw-requirements-frozenToLatest {
  border: dashed;
}
.ck-editor__main .aw-requirements-editable {
  border-style: outset;
}
.ck-editor__main .aw-requirement-lovProperties select {
  font-size: 16px;
}
.ck-editor__main .aw-requirement-lovProperties select:focus {
  border-color: none;
}

.aw-richtexteditor-widePanelBody .ck-editor__main .ck .ck-widget,
.aw-richtexteditor-widePanelBody .ck-editor__main .ck .ck-widget_selected,
.aw-richtexteditor-widePanelBody .ck-editor__main .ck .ck-widget:hover,
.aw-richtexteditor-widePanelBody .ck-editor__main .ck .ck-widget_selected:hover,
.aw-richtexteditor-widePanelBody .ck-editor__main .aw-requirement-bodytext.ck-editor__editable.ck-editor__nested-editable.ck-editor__nested-editable_focused {
  outline: none;
  border: none;
  box-shadow: none;
}
.aw-richtexteditor-widePanelBody .ck-editor__main .ck.ck-content div {
  outline: none;
  border: none;
}
.aw-richtexteditor-widePanelBody .ck-editor__main .ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.aw-richtexteditor-widePanelBody .ck-editor__main .ck.ck-editor__main > .ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  border: none;
  box-shadow: none;
}
.aw-richtexteditor-widePanelBody .ck-editor__main .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-bottom-width: unset;
}

.ck.ck-balloon-panel {
  z-index: 1000000 !important;
}

.aw-requirement-content a[name]:hover {
  cursor: default;
}
