.wrap-preview-reqs {
  display: flex;
  flex-direction: column;
}

.wrap-preview-reqs .requirement {
  margin-bottom: 10px;
}

.wrap-preview-reqs .aw-requirement-bodytext > p {
  margin: 0;
}

/* .wrap-preview-reqs .aw-requirement-bodytext {
  position: relative;
}

.aw-requirement-bodytext::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */
